footer {
    min-height: auto !important;
    height: auto !important;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 50px;
    margin-bottom: 50px;
}

@media (max-width: 768px) {
    .footer-grid {
        grid-template-columns: 1fr !important;
        gap: 30px !important;
    }

    footer>div {
        padding: 50px 15px 30px !important;
    }

    footer .footer-grid>div:first-child {
        text-align: center;
    }

    footer .footer-grid>div:first-child>div:first-child {
        justify-content: center;
    }
}