body {
    overflow-x: hidden;
}

table {
    direction: rtl;
    margin: 5px;
}

#blue-div {
    width: 100vw;
    height: 200px;
    background-color: #260599;
    position: relative;
    transform: translateY(-20px);

}

.table-container {
    width: 80%;
    overflow-x: auto;
}

#gold-title {
    color: white;
    text-align: center;
    z-index: 1;
    font-family: "IranYekan" !important;
    position: absolute;
    left: 45%;
    top: 20%;
    display: flex;
    align-items: center;
}

#gold-title img {
    width: 35px;
    margin: 0 5px;
}


.most-view-gold {
    position: absolute;
    gap: 30px;
    bottom: -10px;
    width: 100vw;
    display: flex;
    justify-content: center;
    width: 100%;
}

.most-view-div {
    background-color: #fff;
    box-shadow: 0 0 10px gray;
    width: 20%;
    border-radius: 10px;
    display: flex;
    direction: rtl;
    justify-content: space-between;
    align-items: center;
    font-family: "IranYekan";
    padding: 20px 15px;
}

.most-view-div h4 {
    display: flex;
}

.most-view-div img {
    width: 40px;
    margin: 0 0 0 5px;
}

.most-view-price {
    display: flex;
    text-align: left;
    flex-direction: column;
}

.gold-container {
    width: 100vw;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    margin-top: 20px;
}

.gold-container-div {
    width: 80%;
    display: flex;
    direction: rtl;
}

.tala-ons-div {
    width: 100%;
    direction: rtl;
    /* overflow-x: auto; */
    display: flex;

}

#ons-table {
    background-color: #fff;
    /* padding: 10px 30px; */
    /* width: 100%;/ */
    height: 300px;
    margin-bottom: 20px;
    overflow-x: auto;
    border-collapse: collapse;
}

.ons-table {
    width: 100%;
    box-shadow: 0 0 5px gray;

    border-collapse: collapse;

}


.ons-table th,
.ons-table td {
    text-align: center;
    font-size: 15px;
    padding: 7px 15px;
    font-family: "IranYekan" !important;
}

/* .ons-table th{
    border: 1px solid #260599;
} */
.seke-table {
    width: 99%;
    box-shadow: 0 0 5px gray;
    table-layout: fixed;
}

.seke-table td,
.seke-table th {
    text-align: center;
    font-size: 15px;
    font-family: "IranYekan" !important;
}


#ons-table thead {
    background-color: #260599;
    color: white;
    gap: 10px;
    padding: 30px 10px;
    height: 50px;
}

.arz-table {
    box-shadow: 0 0 10px gray;
    width: 80%;
    border-collapse: collapse;

}

.arz-table td,
.arz-table th {
    font-size: 18px;
    padding: 10px 5px;
}

.crypto-table {
    box-shadow: 0 0 10px gray;
    width: 90%;
    border-collapse: collapse;

}

.crypto-table td,
.crypto-table th {
    font-size: 18px;
    padding: 10px 5px;
}

.chart_png {
    width: 100px !important;
    height: 100%;
}

@media (max-width: 599px) {
    #blue-div {
        width: 100%;
        height: 350px;
    }

    .gold-container {
        margin-top: 0;
    }

    .table-container {
        width: 90%;
    }

    #gold-title {
        margin: 0;
        text-align: center;
        width: 100vw;
        position: inherit;

        /* direction: rtl; */
    }

    .most-view-gold {
        position: absolute;
        display: grid;
        place-items: center;
        bottom: 0;
        gap: 5px;
        grid-template-columns: 1fr 1fr;
    }

    .most-view-gold div {
        width: 84%;
        scale: 0.95;
    }

    .most-view-gold div h4 {
        font-size: 14px;
    }

    .most-view-gold div b {
        font-size: 14px;
    }

    .seke-table td,
    .seke-table th {
        padding: 5px 10px;
    }

    .table-container {
        direction: rtl;
    }

    #seke-column {
        padding: 10px 42px;
    }

    .tala-ons-div {
        flex-direction: column;
    }

    .tala-ons-div table {
        width: 100%;
    }

    .gold-container-div {
        width: 90%;
    }

    .change_percent {
        direction: ltr;
        font-size: 12px;
    }

}