* {
    font-family: "IranYekan";
}

.shop-header {
    width: 100%;
    height: 250px;
    background-color: #260599;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    flex-direction: column;
    text-transform: center;
    background-attachment: fixed;
}

.shop-header h2 {
    text-align: center;
    color: white;
    margin: 10px;

}

.shop-header p {
    text-align: justify;
    direction: rtl;
    width: 50%;
    color: white;
    font-family: "IranSans";
}

.product-container {
    width: 100%;
    height: 87vh     !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.all-products-shop {
    width: 80%;
    display: grid;
    grid-gap: 0px;
    margin: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.all-products {
    width: 80%;
    display: grid;
    grid-gap: 0px;
    margin: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.product-show-shop {
    width: 280px;
    border-radius: 10px;
    height: 446px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 10px gray;
    direction: rtl;
    transition: all 0.5s linear;
}

.product-show-shop:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 15px gray;
}

.product-show-shop img {
    width: 80%;
    border-radius: 10px;
    height: 60%;
    margin: 10px;
}

.discount-num-show {
    background-color: #e8f3fe;
    color: #0089ff;
    border-radius: 5px;
    border: none;
    outline: none;
}

.price-info {
    width: 80%;
    margin: 4px;

}

.price-info b {
    font-size: 22px;
}

.price-info s {
    color: gray;
}

#product-container-div {
    direction: rtl;
    background-color: #fff;
    border-radius: 10px;
    width: 80%;
    height: 80%;
    padding: 10px 50px;
    display: flex;
    box-shadow: 0 0 10px gray;
    /* margin-top: 119px;    */
}

.summary-text {

    font-size: 12px;
}

#other-info-product-container {
    width: 70%;
    display: flex;
    flex-direction: column;
}

#guaranty {
    justify-content: center;
    display: flex;
    gap: 30px;
    width: 88%;
    margin-top: 20px;
}

#guaranty span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

#guaranty span img {
    width: 25px;
}

#other-info-product-container-div {
    display: flex;
    height: 85%;
}

.product-info-div {
    width: 50%;
    padding: 60px 30px;
}

.product-info-div h5 {
    font-size: 18px !important;
    padding-bottom: 20px;
    border-bottom: 1px dashed gray;


}

.tab-p {
    display: flex;
    justify-content: space-between;
}

.tab-p div {
    display: flex;
    gap: 10px;
}

.tab-btns-p {
    background-color: white;
    color: #260599;
    border: 1px solid #260599;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px 10px;
    transition: all 0.5s linear;
}

.active-tab {
    background-color: #260599;
    color: white;
}

.add-comment-btn {}

.product-description {
    padding: 20px 10px;
    text-align: justify;

    font-size: 11px !important;
}

@media (max-width: 768px) {
    .all-products-shop {
        grid-template-columns: 1fr !important;
        gap: 20PX;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .product-container {
        height: auto !important;
    }

    .shop-header {
        height: 350px;
    }

    .shop-header p {
        width: 90% !important;
    }
}