.card-spotlight {
    position: relative;
    border-radius: 1.5rem;
    border: 1px solid #222;
    background-color: #260599;
    color: white;
    padding: 2rem;
    overflow: hidden;
    width: 250px;
    height: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    
    direction: rtl;
    --mouse-x: 50%;
    --mouse-y: 50%;
    --spotlight-color: rgba(238, 14, 14, 0.05);
}

.card-spotlight::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(circle at var(--mouse-x) var(--mouse-y), var(--spotlight-color), transparent 80%);
    opacity: 0;
    transition: opacity 0.5s ease;
    pointer-events: none;
}

.card-spotlight:hover::before,
.card-spotlight:focus-within::before {
    opacity: 0.6;
}

.custom-spotlight-card i {
    font-size: 32px;
}

.custom-spotlight-card strong {
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.custom-spotlight-card span {
    font-size: 12px;
    text-align: justify ;
}