#container-of-talar {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

#adding-analysis {
    width: 90%;
    background: linear-gradient(286deg, #260599, #015cf9);
    display: flex;
    border-radius: 10px;
    margin-top: 20px;
    direction: rtl;
    justify-content: center;
    align-items: center;
    height: 150px;
}

#adding-analysis img {
    width: 150px;
}

#adding-analysis form {
    display: flex;
}

.common-input {
    padding: 10px 0;

}
#adding-analysis form {
    width: 70%;
}

#adding-analysis .common-input {
    height: 90px;
    width: 100%;
}

#adding-analysis textarea {
    height: 95%;
    width: 85%;
    resize: none;
    font-style: "IranSans" ;
    
}